
.container{
    margin: 11px 20% 0 26%;
    background-color: #e61d1d;
    height: 800px;
    width: 1200px;
    border-radius: 76px;
    box-shadow: 0px 9px 12px 6px rgba(179,173,179,1);
}
.controll{
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.left{
    position: relative;
    top: 553px;
    left: 36px;
}
.right{
    position: relative;
    top: 653px;
    left: 87%;
}
.div1{
   
    position: relative;
    top: -168px;
    background-color: white;
    margin: 0px 0px 0px 25%;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    border: 10px solid lightcoral;
    border-radius: 7px;
}
    .divBox {
        border: 1px solid black;
      align-items:stretch;
      
}

.grid{
    position: relative;
    bottom: 260px;
    left: 148px;
}

