

.div1{
    margin: 100px 0 0 43%;
    display: flex;
    flex-wrap: wrap;
    width: 272px;
    height: 271px;
    border: 1px solid red;
}
    .divBox {
        width: 15px;
        height: 15px;
        border: 1px solid black;
}

